<div class="container">
  <div class="mt-3">
      <h3>SEO dinamico | Rick and Morty </h3>
  </div>
</div>


<div class="container">
  <div class="table-responsive" >
    <!-- <h1>{{ data.title }}</h1>
<h2>{{ data.description }}</h2>
<p>{{ data.detail }}</p> -->
<form [formGroup]="miFormulario" (ngSubmit)="send()">
  <div>
    <label for="selectField">Campo Select:</label>
    <select id="selectField" formControlName="leng">
      <option value="es"  selected>Español</option>
      <option [value]="item.codigo" *ngFor="let item of arrayIdiomas">{{item.idioma}}</option>

    </select>

  </div>

  <button type="submit">Traducir</button>
</form>

      <table class="table " >
          <thead>
              <tr style="text-align: center;">
                  <!-- <th scope="col"> PAIS <th> -->
                      <!-- <th scope="col" > FOTOS </th> -->
                      <th>Nombre</th>
                  <th scope="col">Especie</th>
                  <th scope="col">Genero</th>
                  <!-- <th scope="col">Ver Detalle</th> -->
              </tr>
          </thead>
          <tbody *ngFor="let item of arrayTraducido">
              <tr style="text-align: center;">
                  <!-- <td class="p-0"><img src="{{item.image}}"  alt="" srcset="" width="230px" height="100%"></td> -->
                  <td>{{item.name}}</td>
                  <td>{{item.species}}</td>
                  <td>{{item.gender}}</td>
                  <!-- <td><a [routerLink]="['/detalle' ]" [queryParams]="{id: item.id,name:item.name.replaceAll(' ','-')}"  class="pagina" >Ver Más</a></td> -->
              </tr>
          </tbody>
      </table>
  </div>

      <div class=" alert alert-info " role="alert" *ngIf="result.length ==0" style="text-align: center;">
          Sin Resultados
      </div>
</div>
